.ads {
  min-height: 550px;
}

.ads__wrapper {
  .wrapper();
  position: relative;
  display: flex;
  justify-content: center;
  min-height: inherit;
}

.ads__left {
  position: relative;
  left: -150px;
  width: 670px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 606px;
    height: 550px;
    background-image: url(../img/triangle1.png);
    background-repeat: no-repeat;
    background-position-y: -215px;
  }
}

.ads__img {
  position: absolute;
  top: 95px;
  left: 55px;
  width: 630px;
  height: 367px;
}

.ads__right {
  position: relative;
  top: 7px;
  left: -80px;
  width: 500px;
  margin-left: 33px;
}

.ads__subheader {
  margin-top: 130px;
  margin-bottom: 12px;
}

.ads__header {
  margin-bottom: 30px;
  letter-spacing: 0.5px;
}

.ads__text {
  letter-spacing: 0.7px;
}
