.description {
  min-height: 724px;
}

.description__wrapper {
  position: relative;
  display: flex;
  justify-content: flex-start;
  min-height: inherit;
  .wrapper();
}

.description__block {
  width: 570px;
  min-height: inherit;
  margin-right: 153px;
}

.description__bg {
  position: absolute;
  right: -135px;
  min-width: 568px;
  min-height: inherit;
  background-color: @bg-grey1;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 484px 568px;
    border-color: transparent transparent @pink-80 transparent;
  }
}

.description__subheader {
  margin-top: 183px;
  margin-bottom: 4px;
}

.description__header {
  margin-bottom: 40px;
}

.description__text {
  margin-bottom: 24px;
}
