.form {
  min-height: 467px;
  background-color: @violet;
}

.form__wrapper {
  .wrapper();
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: inherit;
}

.form__subheader {
  margin-top: 93px;
}

.form__header {
  color: @white;
  letter-spacing: 1.5px;
}

.form__offer {
  align-self: flex-end;
  margin-top: 33px;
  margin-bottom: 11px;
  padding-right: 30px;
  font-size: 16px;
  color: @white;
  letter-spacing: 0.7px;
}

.form__signup {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  width: 100%;
  border: 0;
  margin: 0;
  padding: 0;
}

.form__signup-item {
  margin-right: 30px;
}

.form__signup-item__input {
  width: 263px;
  height: 49px;
  padding: 0 0 0 28px;
  box-sizing: border-box;
  border: 1px solid #999cb4;
  border-radius: 3px;
  background-color: @violet-form;
  color: @white;
  font-size: 16px;
  text-transform: uppercase;

  &:focus {
    outline: 2px solid @pink;
    border-radius: 3px;
  }
}

.form__signup-item__label {
  font-size: 0;
}

.form__signup-submit-btn {
  width: 261px;
  height: 49px;
  border-radius: 3px;
  cursor: pointer;
}

.form__warning {
  margin-top: 47px;
  font-size: 16px;
  color: @font2;
  letter-spacing: 0.7px;
}

.form__warning-link {
  color: @font2;
}
