.welcome {
  min-height: 813px;
}

.welcome__wrapper {
  .wrapper();
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: inherit;
}

.welcome__title {
  margin-top: 215px;
  margin-bottom: 138px;
  width: 750px;
  font-size: 60px;
  line-height: 75px;
  font-weight: 100;
  color: @font1;
  text-align: center;
  letter-spacing: 2.5px;
}

.welcome__btn {
  width: 190px;
  height: 37px;
  margin-bottom: 13px;
  padding-top: 13px;
  font-size: 16px;
  border-radius: 3px;
  letter-spacing: 3px;
  text-align: center;
  vertical-align: middle;
}

.welcome__caption {
  display: block;
  letter-spacing: 0.7px;
}
